@import '../../styles/theme.scss';

.container {
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;

  &__wrapper {
    flex: 1;
    position: relative;
    overflow-y: auto;
  }

  &__layout {
    position: absolute;
    top: 56px;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
