@import '../../../styles/theme',
'../../../styles/mixins';

.businessScheduleForm {
  &__dayForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EAEAEA;
    height: 63px;

    &-formItem {
      &--timeItem {
        margin-bottom: 0;
        & .ant-form-explain {
          display: none;
        }
      }

      &--isWorkItem {
        margin-bottom: 0;
        padding-left: 24px;
        @include respond-to(phone) {
          padding-left: 8px;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}
