@import '../../styles/theme.scss';

.adminPanelTags {
  display: flex;
  flex-direction: column;

  &__list {
    &-container {
      display: flex;
      flex-wrap: wrap;

      &-item {
        position: relative;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        padding: 16px;
        width: calc(25% - 16px);
        margin: 8px;
        cursor: pointer;

        &:hover {
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.64);
        }

        &--active {
          background-color: $coupler-blue;
          color: $white;
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.64);
        }

        &-deleteIcon {
          position: absolute;
          top: -8px;
          right: -8px;
          width: 32px;
          height: 32px;
          display: flex;
          align-items: center;
          border-radius: 25px;
          box-shadow: 0 0 3px $font-title-black;
          justify-content: center;
          background-color: $white;
          color: $font-title-black;
          z-index: 2;
        }
      }
    }
  }

  &__editorBlock {

  }

  &__editorContainer {
    padding: 16px 0;
  }
}
