@import '../../styles/theme',
'../../styles/mixins';

.businessServiceInfo {
  &__header {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 13px;
    color: $font-title-black;
    font-size: 16px;
    line-height: 16px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 16px;
  }

  &__infoBlock {
    background: linear-gradient(200deg, #1897FB -8%, $coupler-blue 100%);
    border-radius: 4px;
    padding: 24px 50px;
    text-align: center;

    &-text {
      font-family: $Roboto;
      font-size: 14px;
      line-height: 24px;
      color: $white;

      &--firstParagraph {
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
      }
    }
  }

  &__controlBtns {
    margin-top: 24px;
    @include respond-to(phone) {
      margin-top: 0;
    }

    & .ant-col .ant-btn {
      @include respond-to(phone) {
        margin-top: 24px;
      }
    }

    &-btn {
      width: 100%;
    }
  }
}
