@import '../../styles/theme',
'../../styles/mixins';

.fromToInput {
  display: flex;
  flex-direction: row;
  width: 128px;
  position: relative;

  &--businessSchedule {
    width: 280px;
    @include respond-to(tablet) {
      width: 176px;
    }
    @include respond-to(phone) {
      width: 152px;
    }
  }

  &--asText {
    width: auto;
    padding-left: 16px;
    text-align: center;
  }

  &__input-block {
    &:after {
      content: "";
      border-right: 1px solid #d9d9d9;
      position: absolute;
      z-index: 1;
      height: 20px;
      top: 13px;
    }
  }

  &__weekend-block {
    border: 1px solid #E5E5E5;
    height: 48px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;

    &--readOnly {
      background-color: #F7F7F7;
    }
  }

  &__fromTime {
    text-align: center;
    border-right: none;
    border-radius: 4px 0 0 4px;
    padding: 11px;

    &:read-only {
      border-right: none;
    }
  }

  &__toTime {
    text-align: center;
    border-left: none;
    border-radius: 0 4px 4px 0;
    padding: 11px;

    &:read-only {
      border-left: none;
    }
  }
}
