@import "../../styles/theme.scss";

.corporationsList {
  background: $coupler-blue;
  width: 592px;

  &__selector {
    width: 100%;

    & .ant-select-selection {
      background-color: rgba(255, 255, 255, 0.08);
      color: $white;

      &__placeholder {
        color: rgba(255, 255, 255, 0.32);
      }

      & .ant-select-arrow {
        color: $white;
      }
    }

    &-corporation {
      background-color: unset;
      color: $white;
      letter-spacing: 0.01em;
      padding: 16px 32px;
      display: flex;

      &-logo {
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }

      &-textContent {
        width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }

      &-name {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
      }

      &-descr {
        font-size: 12px;
        line-height: 18px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
    }

    &-listContainer {
      background: linear-gradient(200deg, #1897FB -8%, $coupler-blue 100%);
    }
  }
}
