@import "../../styles/theme.scss";

.corporationsList {
  background: $coupler-blue;
  width: 100%;

  &__selector {
    width: 100%;

    & .ant-select-selection {
      background-color: rgba(255, 255, 255, 0.08);
      color: $white;

      &__placeholder {
        color: rgba(255, 255, 255, 0.32);
      }

      & .ant-select-arrow {
        color: $white;
      }
    }

    &-corporation {
      color: $white;
      letter-spacing: 0.01em;
      padding: 16px 32px;
      display: flex;
      border-bottom: 1px solid #EFEFEF;

      &-logo {
        width: 40px;
        height: 40px;
        margin-right: 16px;
      }

      &-textContent {
        width: 450px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }

      &-name {
        color: #30373E;
        font-size: 14px;
        line-height: 24px;
      }

      &-descr {
        color: #737C85;
        font-size: 14px;
        line-height: 16px;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}
