@import '../../styles/theme.scss';

.corporationsPage {
  height: 100%;
  display: flex;
  flex-flow: column;
  animation: fadein 0.8s ease;

  &__content {
    flex: 1 1 auto;
  }

  &__addBtn.ant-btn-primary {
    min-width: 280px;

    & span {
      width: auto;
      margin-left: 5px;
    }
  }
}
