@import '../../styles/theme',
'../../styles/mixins';

.corporationsPage {
  height: 100%;
  display: flex;
  flex-flow: column;
  animation: fadein 0.8s ease;

  &__content {
    flex: 1 1 auto;
  }

  &__addBtn.ant-btn-primary {
    width: 30%;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0.12);
    @include respond-to(phone) {
      width: 100%;
      margin: 0;
    }

    & span {
      width: auto;
      margin-left: 5px;
    }
  }
}
