@import '../../styles/theme',
'../../styles/mixins';

.businessScheduleInfo {
  &__controlBtns {
    margin-top: 32px;
    @include respond-to(tablet) {
      margin-top: 48px;
    }
    @include respond-to(phone) {
      margin-top: 24px;
    }

    & .ant-col {
      @include respond-to(phone) {
        padding-top: 24px;
      }
    }

    &-btn {
      width: 100%;
    }
  }
}
