@import '../../styles/theme',
'../../styles/mixins';

.businessScheduleInfo {
  &__controlBtns {
    margin-top: 24px;
    @include respond-to(phone) {
      margin-top: 0;
    }

    & .ant-col .ant-btn {
      @include respond-to(phone) {
        margin-top: 24px;
      }
    }

    &-btn {
      width: 100%;
    }
  }
}
