@import "../../../styles/theme.scss";

.corporationForm {
  padding: 32px;

  &__buttonGroup {
    &-cancelBtn {
      width: 100%;
      border: 2px solid $coupler-blue !important;
    }

    &-okBtn {
      width: 100%;
    }
  }
}
