@import '../../styles/theme',
'../../styles/mixins';

.avatarAndCoverUploader {
  display: flex;
  flex-wrap: wrap;
  height: 256px;
  position: relative;
  border: 1px solid #E4E9F0;
  border-radius: 4px;
  padding: 16px;
  margin-bottom: 24px;
  @include respond-to(phone) {
    height: auto;
  }

  &__mainUploadWrapper {
    order: 1;
    width: 100%;
    height: 176px;
    position: relative;
    @include respond-to(phone) {
      order: 2;
    }
  }

  &__gallery {
    order: 2;
    width: 31%;
    display: none;
    padding-left: 16px;
    @include respond-to(phone) {
      order: 3;
      width: 100%;
      padding-left: 0;
    }

    &-item {
      height: 48px;
      display: block;
      margin: 0 0 16px 0;
      @include respond-to(phone) {
        margin: 16px 0 0 0;
        height: 80px;
      }

      &-container {
        position: relative;
        width: 100%;
      }

      &-deleteBtn,
      &-viewerTrigger,
      &-uploadBtn {
        position: absolute;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.48);
        color: $white;
        border-radius: 25px;
      }

      &-uploadBtn {
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &-deleteBtn {
        top: -12px;
        right: -8px;
      }

      &-viewerTrigger {
        top: -12px;
        left: -8px;
      }

      &-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
      }
    }
  }

  &__spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  &__errorBox {
    order: 3;
    display: flex;
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 8px 0;
    background: #f5f5f5;
    border-radius: 4px;
    color: #758498;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @include respond-to(phone) {
      order: 1;
      width: 100%;
      margin-bottom: 16px;
    }

    &--error {
      color: $coupler-red;
      border-color: $coupler-red;
      background-color: rgba(224, 0, 13, 0.08);
    }
  }

  &__cover {
    &-container {
      position: relative;
      width: 100%;
      border-radius: 4px;
    }

    &-uploadBtn {
      position: absolute;
      top: 8px;
      right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background: rgba(0, 0, 0, 0.48);
      border-radius: 25px;
    }

    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }
  }

  &__logo {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 72px;
    height: 72px;
    border-radius: 50%;

    & .ant-upload.ant-upload-drag {
      border-radius: 50%;
      background: rgba(255, 255, 255, 0.48);
    }

    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-uploadBtn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      background: rgba(0, 0, 0, 0.48);
      border-radius: 25px;
    }

    &-image {
      width: 64px;
      height: 64px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &--withGallery {
    .avatarAndCoverUploader__mainUploadWrapper {
      width: 69%;
      @include respond-to(phone) {
        width: 100%;
      }
    }

    .avatarAndCoverUploader__gallery {
      display: block;
    }
  }

  &__viewer {
    &-image {
      width: 100%;
      padding: 15px;
    }
  }
}
