@import '../../styles/theme.scss';

.businessPage {
  overflow-y: scroll;
  flex: 1;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, #1897FB -8%, $coupler-blue 100%);
    height: 56px;

    &-title {
      color: $white;
      font-family: $sans;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }

  &__tabsContainer {
    padding: 0 24px 20px 16px;
  }
}
