.serviceClasses {
  &__checkboxGroup {
    width: 100%;
  }

  &__checkboxCol {
    height: 55px;
    border-bottom: 1px solid #F7F7F7;
    display: flex;
    align-items: center;
  }

  &__checkbox {
    padding: 0 40px 0 16px;
  }
}
