@import '../../../styles/theme.scss';

.workerForm {
  &__col {
    &-header {
      font-size: 14px;
      line-height: 16px;
      color: $font-title-black;
      letter-spacing: 0.02em;
      padding-bottom: 8px;
    }

    &-inputFormItem {
      margin-bottom: 24px;
    }

    &-scheduleBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-left: 16px;
      margin-bottom: 16px;
      border-radius: 4px;
      background-color: #FBFCFE;

      &-formItem {
        margin-bottom: 0;

        &-checkbox {
          display: flex;
          align-items: center;
          justify-content: center;

          & > span:last-child {
            width: 117px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
        }

        & .ant-form-explain {
          display: none;
        }
      }
    }

    &-isAdminBlock {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-radius: 4px;
      background-color: #FBFCFE;

      &-formItem {
        margin-bottom: 0;
      }
    }
  }
}
