@import '../../styles/theme',
'../../styles/mixins';

.deleteModal {

  &__content-text {
    padding: 16px 0;

    & p {
      font-family: $Roboto;
      font-size: 14px;
      letter-spacing: 0.01em;
      color: $font-title-black;
      line-height: 20px;
    }
  }

  & .ant-modal {
    &-header {
      text-align: center;
      color: $font-title-black;
      line-height: 16px;
      font-size: 16px;
      font-family: $Roboto;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &-body {
      text-align: center;
      height: 130px;
    }

    &-footer {
      display: flex;
      text-align: center;
      border-top: none;
      padding: 30px 16px 42px;
      @include respond-to(phone) {
        flex-direction: column;
      }

      & .ant-btn {
        height: 48px;
        background-color: $white;
        color: $coupler-blue;
        line-height: 16px;
        font-size: 12px;
        font-family: $Roboto;
        text-transform: uppercase;
        letter-spacing: 0.04em;
        border: 2px solid $coupler-blue;
        width: 160px;

        &-primary {
          color: $white;
          background-color: $coupler-blue;
        }

        &:first-child {
          order: 1;
          @include respond-to(phone) {
            order: 2;
            margin-top: 16px;
          }
        }

        &:last-child {
          order: 2;
          @include respond-to(phone) {
            order: 1;
          }
        }
      }
    }
  }
}
