@import "custom.scss";

#contentBody {
  @import "theme",
  "mixins",
  "../components/Header/index.scss",
  "../components/TotalPriceInfoDrawer/index.scss",
  "../components/HelpDrawer/index.scss",
  "../components/DeleteModal/index.scss",
  "../screen/Container/index.scss",
  "../components/ScreenLoading/index.scss",
  "../components/SideMenu/index.scss",
  "../components/CorporationsList/index.scss",
  "../components/EmptyState/index.scss",
  "../components/BusinessServiceInfo/index.scss",
  "../components/BusinessServicesList/index.scss",
  "../components/BusinessServices/index.scss",
  "../components/BusinessPackagesInfo/index.scss",
  "../components/BusinessPackagesList/index.scss",
  "../components/BusinessPackages/index.scss",
  "../components/WorkingSpaceInfoReadOnly/index.scss",
  "../components/BusinessWorkingSpacesInfo/index.scss",
  "../components/BusinessWorkingSpacesListMode/index.scss",
  "../components/BusinessWorkingSpacesGridMode/index.scss",
  "../components/BusinessWorkingSpacesList/index.scss",
  "../components/BusinessWorkingSpaces/index.scss",
  "../components/WorkerInfo/index.scss",
  "../components/WorkersList/index.scss",
  "../components/WorkerInfoDrawer/index.scss",
  "../components/ClientInfo/index.scss",
  "../components/ClientsList/index.scss",
  "../components/BusinessScheduleInfo/index.scss",
  "../components/BusinessMainInfo/index.scss",
  "../components/BusinessesList/index.scss",
  "../components/FromToInput/index.scss",
  "../components/PhoneInput/index.scss",
  "../components/Timer/index.scss",
  "../components/Footer/index.scss",
  "../components/Forms/ProfileEmail/index.scss",
  "../components/Forms/ProfileForm/index.scss",
  "../components/Forms/BusinessMainInfoForm/index.scss",
  "../components/Forms/BusinessScheduleForm/index.scss",
  "../components/Forms/CorporationForm/index.scss",
  "../components/Forms/PackageForm/index.scss",
  "../components/Forms/ServiceAdditional/index.scss",
  "../components/Forms/ServiceClasses/index.scss",
  "../components/Forms/ServiceMainInfoFrom/index.scss",
  "../components/Forms/SignInForm/index.scss",
  "../components/Forms/WorkerForm/index.scss",
  "../components/Forms/WorkingSpaceForm/index.scss",
  "../components/CorporationInfo/index.scss",
  "../components/PeriodSelector/index.scss",
  "../components/WelcomePage/index.scss",
  "../components/AvatarAndCoverUploader/index.scss",
  "../components/ContentHeader/index.scss",
  "../components/OrdersList/index.scss",
  "../components/CorporationContent/index.scss",
  "../components/WidgetSettings/index.scss",
  "../screen/BusinessPage/index.scss",
  "../screen/CorporationsPage/index.scss",
  "../screen/ProfileInfo/index.scss",
  "../screen/SignIn/index.scss",
  "../screen/WorkersPage/index.scss",
  "../screen/ClientsPage/index.scss",
  "../screen/OrdersPage/index.scss",
  "../screen/ErrorScreen/index.scss",
  "../screen/AdminPanel/index.scss";
}

html {
  -webkit-overflow-scrolling: auto;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body#contentBody {
  font-family: $Roboto;

  p, h1 {
    margin: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-form-explain {
  position: absolute !important;
  bottom: -20px !important;
  font-size: 10px !important;
  color: #FFC107 !important;
  display: none !important;
}
