@import
  "custom.scss",
  "../components/Header/index.scss",
  "../components/TotalPriceInfoDrawer/index.scss",
  "../components/HelpDrawer/index.scss",
  "../components/DeleteModal/index.scss";

#contentBody {
  @import "theme",
  "../screen/Container/index.scss",
  "../components/ScreenLoading/index.scss",
  "../components/SideMenu/index.scss",
  "../components/CorporationsList/index.scss",
  "../components/EmptyState/index.scss",
  "../components/BusinessServiceInfo/index.scss",
  "../components/BusinessServicesList/index.scss",
  "../components/BusinessServices/index.scss",
  "../components/BusinessPackagesInfo/index.scss",
  "../components/BusinessPackagesList/index.scss",
  "../components/BusinessPackages/index.scss",
  "../components/WorkingSpaceInfoReadOnly/index.scss",
  "../components/BusinessWorkingSpacesInfo/index.scss",
  "../components/BusinessWorkingSpacesListMode/index.scss",
  "../components/BusinessWorkingSpacesGridMode/index.scss",
  "../components/BusinessWorkingSpacesList/index.scss",
  "../components/BusinessWorkingSpaces/index.scss",
  "../components/WorkerInfo/index.scss",
  "../components/WorkersList/index.scss",
  "../components/WorkerInfoDrawer/index.scss",
  "../components/ClientInfo/index.scss",
  "../components/ClientsList/index.scss",
  "../components/BusinessScheduleInfo/index.scss",
  "../components/BusinessMainInfo/index.scss",
  "../components/BusinessesList/index.scss",
  "../components/FromToInput/index.scss",
  "../components/PhoneInput/index.scss",
  "../components/Timer/index.scss",
  "../components/Footer/index.scss",
  "../components/Forms/ProfileEmail/index.scss",
  "../components/Forms/ProfileForm/index.scss",
  "../components/Forms/BusinessMainInfoForm/index.scss",
  "../components/Forms/BusinessScheduleForm/index.scss",
  "../components/Forms/CorporationForm/index.scss",
  "../components/Forms/PackageForm/index.scss",
  "../components/Forms/ServiceAdditional/index.scss",
  "../components/Forms/ServiceClasses/index.scss",
  "../components/Forms/ServiceMainInfoFrom/index.scss",
  "../components/Forms/SignInForm/index.scss",
  "../components/Forms/WorkerForm/index.scss",
  "../components/Forms/WorkingSpaceForm/index.scss",
  "../components/CorporationInfo/index.scss",
  "../components/PeriodSelector/index.scss",
  "../screen/BusinessPage/index.scss",
  "../screen/CorporationsPage/index.scss",
  "../screen/ProfileInfo/index.scss",
  "../screen/SignIn/index.scss",
  "../screen/WorkersPage/index.scss",
  "../screen/ClientsPage/index.scss",
  "../screen/OrdersPage/index.scss";
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

body {
  p {
    margin: 0;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.ant-form-explain {
  position: absolute !important;
  bottom: -20px !important;
  font-size: 10px !important;
  color: #FFC107 !important;
  display: none !important;
}

.CouplerErrorPageBeta {
  display: flex;
  position: absolute;
  flex-direction: column;
  flex: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.CouplerErrorPageBeta_Title {
  h1 {
    font-size: 110px;
    color: $coupler-blue;
  }
}

.CouplerErrorPageBeta_Message {
  color: $coupler-blue;
  font-size: 38px;
  margin-bottom: 1em;
}

.CouplerErrorPageBeta_Button {
  button {
    width: 200px;
    background: $coupler-blue;
    color: $white;
    height: 48px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
  }
}
