@import './theme.scss';

#contentBody {
  display: flex;
  animation: fadein 0.8s ease;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#root {
  display: flex;
  flex: 1;
}

.ant-form-explain {
  color: #e16e71;
  font-size: 12px;
  padding: 4px;
}

#contentBody .ant {
  //---- Buttons ----
  // default
  &-btn {
    height: 48px;
    background-color: $white;
    color: $coupler-blue;
    font-size: 12px;
    font-family: $sans;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: unset;
    margin: auto;

    &[disabled] {
      color: rgba(164, 174, 184, 0.4);
      background: #F6F6F6;
    }

    & > span {
      font-family: $sans;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 100%;
    }

    &.deleteBtn {
      border: 2px solid $coupler-red;
      color: $coupler-red;
    }

    &.backBtn {
      border: 2px solid $coupler-blue;

      &[disabled] {
        border: 2px solid rgba(164, 174, 184, 0.4);
      }
    }

    // primary
    &-primary {
      background: #0E84F1;
      color: $white;
    }
  }

  //---- Forms ----
  &-form-item {
    margin-bottom: 32px;

    &-label {
      line-height: 16px;
      padding-bottom: 8px;

      & > label {
        font-family: $sans;
        letter-spacing: 0.02em;
        color: $font-title-black;
      }
    }

    &-required {
      &::before {
        content: '';
      }

      &::after {
        display: inline-block;
        margin-left: 4px;
        color: $font-title-black;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }

    &-control {
      line-height: unset;
    }
  }

  //---- Inputs ----
  &-input {
    font-family: $sans;
    font-size: 14px;
    letter-spacing: 0.02em;
    height: 48px;
    padding: 16px;

    &-number {
      width: 100%;
      height: 48px;
      line-height: 48px;

      &-handler-wrap {
        opacity: 1;
      }
    }

    &:read-only {
      background: #F7F7F7;
      border: 1px solid #CCC;
      color: $font-title-black;
    }

    &:focus,
    &:hover {
      box-shadow: none;
      border-color: #d9d9d9;
    }
  }

  &-select {
    &.readOnly {
      pointer-events: none;

      & .ant-select-selection {
        background: #F7F7F7;
        border: 1px solid #CCC;
        color: $font-title-black;
      }
    }

    &-selection {
      &--single {
        height: 48px;
      }

      &__rendered {
        position: static;
        margin: 0;
      }

      &__placeholder {
        font-size: 14px;
        font-family: $sans;
        letter-spacing: 0.02em;
        color: rgba(72, 84, 101, 0.32);
        padding-left: 16px;
        margin-right: 0;
        margin-left: 0;
      }

      &-selected {
        &-value {
          padding: 0 16px;
          line-height: 48px;
          letter-spacing: 0.02em;
          font-family: $sans;
        }
      }

      &:hover,
      &:focus {
        box-shadow: none;
        border-color: #d9d9d9;
      }
    }
  }

  &-checkbox {
    &-wrapper {
      &-disabled {
        & > span {
          color: $middle-gray;

          & > .ant-checkbox-inner {
            background-color: #F7F7F7;
          }
        }
      }

      & + .ant-checkbox-wrapper {
        margin-right: 16px;
      }
    }

    & + span {
      font-size: 14px;
      font-family: $sans;
      line-height: 16px;
      color: $font-title-black;
      padding: 0 16px;
    }

    &-inner {
      border-color: #CCCCCC;
    }

    &-checked {
      & .ant-checkbox-inner {
        border-color: $coupler-blue;
        background-color: $coupler-blue;
      }
    }
  }

  &-radio {
    &-group {
      &.readOnly {
        .ant-radio {
          &-wrapper {
            color: $middle-gray;

            &-checked {
              & > span.ant-radio-checked {
                & .ant-radio-inner {
                  border-color: #CCCCCC;

                  &::after {
                    background-color: $font-title-black;
                  }
                }
              }
            }
          }
        }
      }

      .ant-radio {
        &-wrapper {
          color: $font-title-black;

          &-checked {
            color: $coupler-blue;

            & > span.ant-radio-checked {
              & .ant-radio-inner {
                border-color: $coupler-blue;

                &::after {
                  background-color: $coupler-blue;
                }
              }
            }
          }
        }
      }
    }
  }

  &-upload {
    &-drag {
      background: $white;

      &-container {
        vertical-align: unset;
        display: flex;
        height: 100%;
        width: 100%;
      }
    }

    &-btn {
      padding: 0;
      display: flex;
    }
  }

  //---- Tabs ----
  &-tabs {
    &-bar {
      margin: 0 0 22px 0;
    }
    &-nav {
      width: 100%;

      div {
        display: flex;
        justify-content: center;
      }
    }

    &-tab {
      padding: 16px;
      margin: 0;
      width: 100%;

      &-active {
        color: $coupler-blue;
        border-bottom: 3px solid $coupler-blue;
      }
    }

    &-ink-bar {
      opacity: 0;
    }
  }

  //---- Table ----
  &-table {
    &-thead {
      & > tr {
        background-color: $white;
        height: 63px;
        line-height: 31px;

        & th {
          font-family: $sans;
          font-weight: bold;
          color: $font-title-black;
          letter-spacing: 0.02em;
          font-feature-settings: 'pnum' on, 'lnum' on;
        }
      }
    }

    &-tbody {
      & > tr {
        height: 63px;

        & > td {
          background-color: $white;
        }

        &:hover {
          &:not(.ant-table-expanded-row) > td {
            background-color: rgba(16, 120, 225, 0.08);
          }
        }
      }

      & tr.ant-table-expanded-row > td {
        background-color: $dirty-white;
      }
    }

    &-pagination {
      float: unset;
      text-align: center;

      & .ant-pagination {
        &-prev,
        &-next,
        &-item {
          width: 48px;
          height: 48px;
          line-height: 48px;
          font-family: $sans;
          font-size: 14px;
          font-feature-settings: 'pnum' on, 'lnum' on;
        }
      }
    }
  }

  //---- Avatar ----
  &-avatar {
    & > img {
      object-fit: cover;
    }
  }
}

#contentBody .has-error {
  & .ant-select.ant-select-auto-complete .ant-input:focus,
  & .ant-input:not([disabled]):hover {
    border-color: red;
  }

  & .ant-input:not([disabled]):hover {

  }
}

.ant {
  &-select {
    &-dropdown {
      &-menu {
        li.ant-select-dropdown-menu-item {
          font-family: $sans;
          font-size: 14px;
          letter-spacing: 0.02em;
          color: $font-title-black;
          line-height: 24px;
          padding: 16px;

          &:hover:not(&-disabled),
          &:active:not(&-disabled),
          &-active:not(&-disabled) {
            background-color: #ECF5FD;
          }

          &-selected {
            color: $coupler-blue;
            background-color: #ECF5FD;
            font-weight: normal;
          }
        }
      }
    }
  }

  &-dropdown {
    &-menu {
      li.ant-dropdown-menu-item {
        &:hover {
          background-color: #ECF5FD;
        }
      }
    }
  }
}

#contentBody {
  & .phoneInput {
    &__inputClass {
      &--readOnly {
        background: #F7F7F7;
        border: 1px solid #CCC;
        color: $font-title-black;
        pointer-events: none;
      }
    }
  }
}
