// -------- Colors -----------
$primary-color: #262626;
$info-color: yellow;
$success-color: green;
$processing-color: rgba(255, 187, 27, 0.81);
$error-color: red;
$highlight-color: rgb(218, 129, 68);
$loading-background-color: rgba(218, 129, 68, 0.35);
$hover-highlight-color: rgba(198, 83, 23, 0.25);
$warning-color: orange;
$dark-gray: #3d3d3d;

$white: #fff;
$black: #000;
$coupler-blue: #1078E1;
$coupler-light-blue: #E0EBF3;
$border-gray: #f0f2f4;
$light-gray: #CAD4DE;
$middle-gray: #A4AEB8;
$gray: #868A91;

$black-a08: rgba(0, 0, 0, 0.32);

// -------- Shadows -----------

$shadow-bottom: 0px 2px 4px rgba(0, 0, 0, 0.16);
$shadow-top: 0px -4px 6px rgba(0, 0, 0, 0.08);

// -------- Fonts -----------
$sans: 'M PLUS Rounded 1c', sans-serif;

// -------- Media Sizes -----------
$max-desktop: 1279px;
$max-tablet: 991px;
$max-phone: 767px;
