// -------- Colors -----------
$primary-color: #262626;
$loading-background-color: rgba(218, 129, 68, 0.35);

$white: #fff;
$dirty-white: #FAFAFA;
$black: #000;
$coupler-blue: #1078e1;
$coupler-input-blue: #4dbffa;
$coupler-light-blue: #E0EBF3;
$coupler-red: #E0000D;
$border-gray: #f0f2f4;
$middle-gray: #A4AEB8;
$gray: rgba(72, 84, 101, 0.8);
$font-title-black: #485465;

$black-a032: rgba(0, 0, 0, 0.32);
$black-a072: rgba(0, 0, 0, 0.72);

// -------- Shadows -----------

$shadow-bottom: 0px 2px 4px rgba(0, 0, 0, 0.16);
$shadow-top: 0px -4px 6px rgba(0, 0, 0, 0.08);
$shadow-right: 4px 4px 8px rgba(0, 0, 0, 0.16);
$shadow-left: -2px 2px 4px rgba(0, 0, 0, 0.08);

// -------- Fonts -----------
$sans: 'Roboto', sans-serif;

// -------- Media Sizes -----------
$max-desktop: 1279px;
$max-tablet: 991px;
$max-phone: 767px;

$sm: 576px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1599px;

// -------- Image URL -----------
$coupler_logo_beta: url('../assets/coupler_logo_beta.svg');
$logo-single-white: url('../assets/logo-single-white.svg');
$logo-single-white-signIn: url('../assets/logo-signIn.svg');
$coupler_logo_mobile: url('../assets/coupler_logo_mobile.svg');
