@import '../../styles/theme.scss';

.profile {
  &-main-info {
    &-form {
      display: flex;
      flex-direction: column;

      &-upload {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 15px;

        &-avatarImg {
          position: absolute;
          z-index: 2;
          & .ant-upload {
            width: 200px;
            height: 200px;
            border-radius: 50%;
          }

          & img {
            width: 100%;
            height: 200px;
            border-radius: 50%;
            object-fit: cover
          }
        }

        &-coverImg {
          width: 600px;

          .ant-upload.ant-upload-drag {
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            border-radius: 25px;
          }

          & img {
            width: 100%;
            height: 298px;
            border-radius: 25px;
            object-fit: cover
          }
        }

        .ant-upload-drag-container {
          & span {
            cursor: pointer;
            font-weight: bold;
            font-style: italic;
            font-size: 70px;
          }
        }

        &-avatarImg-content,
        &-coverImg-content {
          color: $highlight-color;
          background-color: $white;
          font-size: 20px;
          position: absolute;
          top: 10px;
          left: 10px;
          border: 2px solid $highlight-color;
          border-radius: 50px;
          width: 42px;
          height: 42px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }

      &-save {
        width: 100px;
        align-self: center;
      }
    }


  }

}
