@import '../../styles/theme';

.helpDrawer {
  &__video {
    position: relative;
    width: fit-content;

    & iframe {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 0
    }
  }
}
