@import '../../styles/theme.scss';

.profileInfo {
  height: 100%;
  display: flex;
  flex-flow: column;
  animation: fadein 0.8s ease;

  &__content {
    padding: 40px 56px 40px 48px;
    flex: 1 1 auto;
  }

  &__controlBtns {
    &-btn {
      width: 100%;
    }
  }
}
