@import '../../styles/theme.scss';

.profileInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;
  animation: fadein 0.8s ease;

  &__controlBtns {
    padding: 0 56px 0 48px;

    &-btn {
      width: 100%;
    }
  }
}
