@import "../../styles/theme.scss";

.businessesList {
  position: absolute;
  left: 312px;
  bottom: 0;
  right: 0;
  top: 0;
  overflow-y: scroll;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 72px;
    background: $coupler-blue;

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 48px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $white;
    }
  }

  &__list {
    padding: 24px;
  }

  &__card {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    cursor: pointer;

    & .ant-card-body {
      padding: 0;
    }

    &-img {
      background: center/cover no-repeat;
      width: 100%;
      height: 144px;
    }

    &-text {
      padding: 16px 0;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.01em;
    }

    &--addCard {
      border: 1px dashed rgba(164, 174, 184, 0.4);
      background-color: $dirty-white;
      text-align: center;
      padding: 16px;

      & img {
        padding: 66px 0 24px;
      }

      &-addText {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.04em;
        color: rgba(164, 174, 184, 0.88);
        height: 40px;
      }
    }
  }
}
