@import '../../styles/theme';

.workingSpaceInfoReadOnly {
  &__label {
    line-height: 16px;
    margin-bottom: 8px;

    & label {
      font-family: $Roboto;
      font-size: 14px;
      letter-spacing: 0.02em;
      color: $font-title-black;
    }
  }

  &__workersTable {
    &-title {
      color: $font-title-black;
      font-size: 14px;
      font-family: $Roboto;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      padding: 32px 8px 24px;
    }

    &-list {
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 4px;

      &-item {
        &-name {
          display: flex;
          align-items: center;
          font-family: $Roboto;
          font-size: 14px;
          line-height: 24px;
          color: $coupler-blue;
          cursor: pointer;

          & > span {
            padding-left: 16px;
          }
        }
      }
    }
  }
}
