@import '../../styles/theme',
'../../styles/mixins';

.totalPriceInfoDrawer {
  & .ant-drawer {
    &-body {
      padding: 24px 16px;
    }

    &-content-wrapper {
      width: 312px;
      @include respond-to(phoneAndTablet) {
        width: 304px;
      }
    }

    &-header {
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-title {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-transform: uppercase;
      font-feature-settings: 'tnum' on, 'lnum' on, 'cpsp' on;
      color: $font-title-black;
    }

    &-close {
      color: #D4D8DC;
    }
  }

  &__selector {
    width: 100%;
    padding-top: 24px;
  }

  &__periods {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;

    &-block {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      text-transform: lowercase;
      border-radius: 4px;
      border: 1px solid #CCCCCC;
      align-self: center;
      width: 80px;
      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;

      &--active {
        border-color: $coupler-blue;
        color: $coupler-blue;
      }
    }
  }

  &__totalPriceBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: relative; // for loader
    border-top: 1px solid #DCE3EA;
    border-bottom: 1px solid #DCE3EA;
    color: #758498;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on, 'cpsp' on;

    &-sum {
      &-text {
        display: flex;
        align-items: center;

        & span {
          margin-left: 8px;
        }
      }
    }
  }

  &__seeAllOrdersBtn {
    padding: 40px 0;
    display: block;

    & .ant-btn {
      width: 100%;
    }
  }
}
