@import '../../styles/theme';

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 56px;
  box-shadow: $shadow-bottom;
  padding: 0 48px;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: $white;

  &__content-box {
    height: 100%;
    border-left: 1px solid $border-gray;
    padding: 13px 15px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &-avatar.ant-avatar-circle {
      background-color: $coupler-light-blue;
      color: $coupler-blue;
    }

    &-naming {
      padding: 0 24px 0 16px;

      & h1 {
        font-family: $sans;
        font-size: 14px;
        color: $gray;
        letter-spacing: 0.01em;
        line-height: 16px;
      }

      & p {
        font-family: $sans;
        font-size: 10px;
        color: $gray;
        letter-spacing: 0.02em;
        line-height: 10px;
      }

      & + i {
        line-height: 30px;
      }
    }
  }

  & #menu {
    & .header__menu {
      &-item {
        font-family: $sans;
        font-size: 12px;
        line-height: 24px;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: rgba(72, 84, 101, 0.56);
        padding: 12px 20px;
        cursor: pointer;

        & i {
          margin-right: 8px;
        }

        &-text {
          position: relative;
        }

        &-indicator {
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          border: 1px solid $coupler-blue;
          border-radius: 1px;
          color: $coupler-blue;
          font-size: 9px;
          padding: 4px;
          top: -12px;
          right: -30px;
          height: 16px;
          box-shadow: -4px 4px 8px $white;
        }

        &:first-child {
          border-bottom: 1px solid rgba(164, 174, 184, 0.24);
        }
      }
    }
  }

  &__notification-box {
    .ant-badge-count {
      background-color: $coupler-blue;
      min-width: 14px;
      height: 14px;
      width: 14px;
      font-size: 10px;
      line-height: 14px;
      transform: translate(50%, -20%);
      padding: 0;
    }
  }
}
