@import '../../styles/theme';

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 56px;
  box-shadow: $shadow-bottom;
  padding: 0 48px;

  &__content-box {
    height: 100%;
    border-left: 1px solid $border-gray;
    padding: 13px 15px;
    display: flex;
    flex-direction: row;
    cursor: pointer;

    &-avatar.ant-avatar-circle {
      background-color: $coupler-light-blue;
      color: $coupler-blue;
    }

    &-naming {
      padding: 0 24px 0 16px;

      & + i {
        line-height: 30px;
      }
    }
  }

  &__notification-box {
    .ant-badge-count {
      background-color: $coupler-blue;
      min-width: 14px;
      height: 14px;
      width: 14px;
      font-size: 10px;
      line-height: 14px;
      transform: translate(50%, -20%);
      padding: 0;
    }
  }
}
