@import '../../styles/theme',
'../../styles/mixins';

.sidebar {
  padding: 16px 0;
  @include respond-to(phoneToMiddleDesktop) {
    padding: 64px 0 16px;
  }

  &__logo {
    display: block;
    background: no-repeat 32px $coupler_logo_beta;
    height: 56px;
    margin-bottom: 20px;
    @include respond-to(phoneToMiddleDesktop) {
      display: none;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding: 16px 0;

    &--profile {
      display: none;
      @include respond-to(phoneToMiddleDesktop) {
        display: flex;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: left;
      height: 56px;
      cursor: pointer;
      margin: 0 16px;
      padding: 0 16px;
      @include respond-to(phoneToMiddleDesktop) {
        height: 48px;
      }

      & span {
        font-family: $Roboto;
        font-size: 14px;
        color: $white;
        letter-spacing: 0.02em;
      }

      & i.anticon {
        padding-right: 14px;
      }

      &--active {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 4px;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.16);
        border-radius: 4px;
      }

      &--disabled {
        pointer-events: none;

        & span {
          color: $gray;
        }
      }
    }
  }

  &__exit {
    padding-top: 16px;
  }

  &__languages {
    &-selector {
      display: flex;
      padding-top: 40px;
      margin: 0 16px;
    }

    & .ant-select-selection {
      flex: 1;
      background-color: rgba(255, 255, 255, 0.08);
      color: $white;

      &__placeholder {
        color: rgba(255, 255, 255, 0.32);
      }

      & .ant-select-arrow {
        color: $white;
      }
    }
  }
}
