@import '../../styles/theme.scss';

.sidebar {
  overflow-y: scroll;
  width: 290px;
  //background: linear-gradient(200deg, #1897FB -8%, $coupler-blue 100%);
  //Експеримент восприятия
  background: #2C333B;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
  z-index: 3;
  @media screen and (max-width: $max-lg) {
    width: 105px;
  }

  &__logo {
    background: no-repeat 32px 16px $coupler_logo_beta; // imported from base.scss
    height: 56px;
    margin-bottom: 20px;

    @media screen and (max-width: $max-lg) {
      background: no-repeat center $logo-single-white; // imported from base.scss
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    //Експеримент восприятия
    //border-bottom: 1px solid #2c3140;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding: 16px 0;

    &-item {
      display: flex;
      align-items: center;
      justify-content: left;
      height: 56px;
      cursor: pointer;
      margin: 0 16px;
      padding: 0 16px;

      @media screen and (max-width: $max-lg) {
        justify-content: center;
      }

      & span {
        font-family: $Roboto;
        font-size: 14px;
        color: $white;
        letter-spacing: 0.01em;

        @media screen and (max-width: $max-lg) {
          display: none;
        }
      }

      & i.anticon {
        padding-right: 14px;
        @media screen and (max-width: $max-lg) {
          padding-right: 0;
        }
      }

      &--active {
        background-color: rgba(255, 255, 255, 0.08);
        border-radius: 4px;
      }

      &--disabled {
        pointer-events: none;

        & span {
          color: $gray;
        }
      }
    }
  }

  &__exit {
    padding-top: 16px;
  }

  &__languages {
    &-selector {
      display: flex;
      padding-top: 40px;
      margin: 0 16px;
    }

    & .ant-select-selection {
      flex: 1;
      background-color: rgba(255, 255, 255, 0.08);
      color: $white;

      &__placeholder {
        color: rgba(255, 255, 255, 0.32);
      }

      & .ant-select-arrow {
        color: $white;
      }
    }
  }
}
