@import '../../styles/theme';

.signIn {
  height: 100%;
  display: flex;

  &__left {
    background: linear-gradient(48.16deg, #0E4BF1 -17.43%, #1CACFE 124.93%);
    height: 100%;
    width: 344px;
    padding: 16px 32px;

    &-logo {
      background: no-repeat $coupler_logo_beta; // imported from base.scss
      height: 35px;
    }

    &-titleBlock {
      width: 100%;
      padding: 58px 0 59px;

      &-title {
        font-family: $sans;
        font-size: 18px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
      }

      &-divider {
        height: 1px;
        width: 100%;
        background: rgba(255, 255, 255, 0.24);
        margin: 18px 0 26px;
      }

      &-subtitle {
        font-family: $sans;
        font-size: 13px;
        line-height: 16px;
        font-weight: 500;
        color: $white;
        text-transform: uppercase;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    @media screen and (max-width: $max-phone) {
      display: none;
    }

    &-supportBlock {
      width: 100%;
      height: 72px;
      box-shadow: $shadow-bottom;
    }

    &-mapBlock {
      flex: 1 1 auto;
      position: relative;
    }

    &-footerBlock {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding: 0 72px;
      height: 56px;
      box-shadow: $shadow-top;
      @media screen and (max-width: $max-tablet) {
        padding: 0 16px;
      }

      & span {
        font-family: $sans;
        font-size: 12px;
        line-height: 24px;
        color: $middle-gray;
      }
    }
  }
}
