@import '../../styles/theme';

.signIn {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: auto;
  //background: linear-gradient(-15deg, #30b43d, #e7a252, rgb(155, 200, 231), #107ed8);
  //background-size: 400% 400%;
  //animation: gradientBG 0.2s ease infinite;
  //Експеримент восприятия
  //background: #212631;

  &__badge {
    background: #FF7A00;
    color: #ffffff;
    width: 180px;
    text-align: center;
    padding: 14px;
    font-weight: bold;
    font-size: 18px;
    top: 30px;
    right: -18px;
    position: absolute;
    border-radius: 10px;
  }

  &__main {
    //Експеримент восприятия
    //background: #1078e1;
    background: linear-gradient(48.16deg, #0E4BF1 -17.43%, #1CACFE 124.93%);
    box-shadow: 24px 24px 48px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    //width: 592px;
    //height: 592px;
    //padding: 32px 104px;
    max-width: 590px;
    width: 98%;
    margin: auto;
    position: relative;

    .signInForm {
      padding: 34px 12px 56px 12px;
      max-width: 320px;
      margin: auto;
    }
  }

  &__logo {
    background: no-repeat $logo-single-white-signIn; // imported from base.scss
    background-size: 64px 64px;
    height: 64px;
    width: 64px;
    margin: 0 auto;
    margin-top: 24px;
  }

  &__titleBlock {
    width: 100%;
    padding: 24px 0 0;
    text-align: center;

    &-title {
      font-family: $sans;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: $white;
    }

    &-subtitle {
      font-family: $sans;
      font-size: 16px;
      line-height: 16px;
      font-weight: 500;
      color: $white;
      text-transform: lowercase;
      letter-spacing: 0.01em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
