@import '../../styles/theme.scss';

div.lg-app-auth-form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 68px;

  & > .lg-app-auth-form-header {
    padding-bottom: 32px;
    display: flex;
    justify-content: center;

    & > h2 {
      color: $processing-color;
      font-size: 24px;
      font-weight: bold;
      line-height: 31px;
    }
  }

  div.lg-code-input-container {
    display: flex !important;
    width: 100%;
    justify-content: space-between;

    & > input {
      transition: border 0.3s ease-in-out;
      background-color: rgba(255, 255, 255, 0%) !important;
      border: none !important;
      border-bottom: 1px solid #d8d8d8 !important;
      color: $black;
      font-size: 16px;
      font-weight: 500;
      line-height: 19px;

      &::placeholder {
        color: #fff;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
        opacity: .7;
      }

      &:focus {
        border-bottom: 1px solid #AB8654 !important;
      }

      &:after {
        display: block;
        content: 'X';
        color: red
      }
    }
  }

  div.auth-code-form-footer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
  }

  & > .lg-app-form-content {
    .auth-form-phone-input-header {
      & > p {
        color: $white;
      }
    }
  }
}
