@import '../../styles/theme';

.footer {
  text-align: center;
  width: 100%;
  background-color: #FCFCFC;
  padding: 16px 0;

  & .ant-divider-vertical {
    background-color: $coupler-blue;
  }

  &__networks {
    background-color: #FCFCFC;
    text-align: center;
    padding-bottom: 24px;

    &-title {
      font-size: 10px;
      font-weight: normal;
      line-height: 16px;
      letter-spacing: 0.01em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #B5BBC0;
      margin: 0;
      padding-bottom: 16px;
    }

    &-icon {
      margin-right: 16px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__lang_box {
    display: flex;
    justify-content: center;

    &-selector {
      color: inherit;
      font-size: inherit;

      & .ant-select {
        &-selection {
          border: none;

          &--single {
            height: 16px;
          }

          &-selected-value {
            line-height: 16px;
            padding: 0;
          }
        }
      }
    }
  }

  &__links {
    font-size: 11px;
    font-weight: 500;
    line-height: 16px;
    color: $coupler-blue;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #EFEFEF;
    padding: 16px 0 6px;

    a {
      color: $coupler-blue;
    }
  }

  &__copyright {
    &-text {
      font-size: 10px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.01em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      color: #B3B3B3;
    }
  }
}
