@import '../../styles/theme';

.help {
  display: flex;
  flex: 1;
  animation: fadein 0.8s ease;

  &__mainInfo {
    overflow-y: scroll;
    flex: 1;
    padding: 0 16px;

    &-header {
      padding: 46px 32px 14px 32px;
      color: $font-title-black;
      font-family: $Roboto;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
      border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    }
  }

  &__summary {
    overflow-y: scroll;
    width: 320px;
    box-shadow: $shadow-left;
    background: linear-gradient(0deg, #FCFCFC, #FCFCFC), $white;

    &-header {
      padding: 46px 24px 14px 32px;
      color: $font-title-black;
      font-family: $Roboto;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }

    & .ant-anchor-wrapper {
      padding: 0;
    }

    &-list {
      &-item {
        display: flex;
        padding: 12px 32px;
        color: $gray;
        letter-spacing: 0.01em;
        font-family: $Roboto;
        font-size: 14px;
        height: 63px;
        border-top: 1px solid rgba(0, 0, 0, 0.04);
        cursor: pointer;

        & > a {
          display: flex;
          height: 100%;
          width: 100%;
          align-items: center;
        }
      }
    }
  }
}
