.coupler-packages-service-prices-list {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.package-form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.package-service-price-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  > :nth-child(0) {
  }

  > :nth-child(2) {
    flex: 1;
    display: flex;
    justify-content: space-between;
  }

}
