@import '../../styles/theme.scss';

.workersList {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 72px;
    background: radial-gradient(408.93px at 64.37% 115.28%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(17.62deg, #0E4BF1 -27.29%, #1CACFE 111.55%);

    &-title {
      color: $white;
      font-family: $sans;
      font-size: 18px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &-selectorBox {
      display: flex;
      align-items: center;

      & .ant-select-selection {
        background-color: rgba(255, 255, 255, 0.08);
        color: $white;

        &__placeholder {
          color: rgba(255, 255, 255, 0.32) !important;
        }

        & .ant-select-arrow {
          color: $white;
        }
      }

      &-rightArrow {
        color: rgba(255, 255, 255, 0.64);
        font-size: 20px;
        padding: 0 12px;
      }
    }
  }

  &__content {
    padding: 46px 32px 0;

    &--isWorkersExist {
      padding: 0 32px;
    }

    &-searchBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 0;

      & > label {
        cursor: pointer;
        color: $font-title-black;
        font-family: $sans;
        font-size: 14px;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
      }

      & .ant-input-search {
        width: 600px;
      }
    }

    &-workersTable {
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);

      &-columnHeaderText {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & .ant-table {
        &-thead {
          & > tr {
            height: 48px !important;
            font-size: 12px;
            line-height: 24px !important;

            & > th .ant-table-header-column {
              width: 100% !important;
            }
          }
        }

        &-tbody {
          & > tr {
            height: 48px !important;
          }
        }
      }
    }

    &-controlBtns {
      margin-top: 56px;

      &-infoBlock {
        height: 48px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        & > .anticon {
          font-size: 20px;
          color: $coupler-blue;
          padding-right: 14px;
        }

        & > div {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          font-size: 14px;
          font-family: $sans;
          color: $coupler-blue;
        }

        &-arrow {
          position: absolute;
          top: 0;
          width: 100%;

          & > img {
            width: 100%;
            height: 48px
          }
        }
      }

      &-btn {
        width: 100%;
      }
    }
  }
}
