@import '../../styles/theme.scss';

.workersList {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 72px;
    background: radial-gradient(408.93px at 64.37% 115.28%, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(17.62deg, #0E4BF1 -27.29%, #1CACFE 111.55%);
  }
}
