@import '../../../styles/theme',
'../../../styles/mixins';

.signInForm {
  width: 240px;
  margin: 0 auto;
  padding: 32px 0;

  &__infoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    font-size: 10px;
    line-height: 18px;
    color: $white;
    margin-bottom: 24px;
    @include respond-to(tablet) { margin-bottom: 56px; }

    & .loginText {
      font-size: 18px;
    }

    & .timer {
      font-weight: 500;
    }

    & > div {
      text-align: center;
    }
  }

  &__number {
    margin: 0;

    &--labelBox {
      .ant-form-item-label > label {
        color: $white;
      }
    }

    & .phoneInput {
      & .react-tel-input {
        & .form-control {
          background-color: rgba(255, 255, 255, 0.08);
          border: 1px solid rgba(255, 255, 255, 0.32);
          color: $white;

          &:hover,
          &:focus {
            border: 1px solid $white;
          }
        }
      }
    }

    & .codeInput {
      width: auto !important;
      & .styles_react-code-input__CRulA > input {
        margin-right: 9px;
        background: rgba(255, 255, 255, 0.04);
        border: 1px solid rgba(255, 255, 255, 0.32);
        border-radius: 4px;
        color: $white;
        font-size: 14px;
        line-height: 24px;
        font-family: $Roboto;

        &:last-child {
          margin-right: 0;
        }

        &:focus {
          caret-color: $white;
          background: rgba(255, 255, 255, 0.08);
          border: 1px solid $white;
        }
      }
    }
  }

  .buttonGroup {
    padding-top: 32px;
  }

  &__button {
    width: 100%;
    cursor: pointer;

    &.black {
      background-color: rgba(255, 255, 255, 0.08);
      border: none;
    }

    &--sendOneMore {
      padding-top: 24px;
      text-align: center;
      color: $white;
      font-weight: 300;
      font-size: 11px;
      line-height: 16px;

      & span {
        &:last-child {
          text-decoration: underline;
        }
      }
    }

    &--firstButton {
      margin-bottom: 24px;
    }
  }
}
