@import '../../../styles/theme';

.signInForm {

  ::-webkit-input-placeholder {
    color: rgba(222, 218, 226, 0.46);
    text-align: center;
  }

  :-ms-input-placeholder {
    color: rgba(222, 218, 226, 0.46);
    text-align: center;
  }

  ::placeholder {
    color: rgba(222, 218, 226, 0.46);
    text-align: center;
  }

  &__title {
    font-family: $sans;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $white;
    //padding: 30px 0 0;

    &--gotCode {
      padding: 10px 10px;
    }
  }

  &__infoBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    font-family: $sans;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: $white;
    mix-blend-mode: normal;
    margin-bottom: 32px;

    & > div {
      text-align: center;
    }
  }

  &__number {
    &--labelBox {
      .ant-form-item-label > label {
        color: $white;
      }
    }

    &--phoneInput,
    &--codeInput.ant-input-password input {
      font-size: 16px;
      font-weight: 400;
      border: none;
      background-color: rgba(255, 255, 255, 0.08);
      color: white;
      text-align: left;
      transition: all 0.4s ease;
      box-shadow: 0 0 0 1px $white;

      &:hover{
        box-shadow: 0 0 0 1px $white;
      }

      &:focus{
        box-shadow: 0 0 0 1px $white;
      }

      &:active{
        box-shadow: 0 0 0 1px $white;
      }
    }

    &--codeInput.ant-input-password input {
      text-align: center;
    }
  }

  &__button {
    width: 100%;
    cursor: pointer;

    &--firstButton {
      margin-bottom: 16px;
    }
  }
}
