.businessMainForm {
  &__map {
    &-containerElement {
      height: 168px;
      margin-bottom: 24px;
    }

    &-mapElement {
      height: 100%;
    }

    &-loadingElement {
      height: 100%;
    }
  }
}
