@import '../../../styles/theme',
'../../../styles/mixins';

.businessMainForm {
  &__map {
    &-containerElement {
      height: 256px;
      margin-bottom: 24px;
      position: relative;
      @include respond-to(tabletToMiddleDesktop) {
        height: calc(100% - 120px);
      }
      @include respond-to(mobile) {
        height: 160px;
      }
    }

    &-mapElement {
      height: 100%;
      border-radius: 4px;
    }

    &-loadingElement {
      height: 100%;
    }
  }
}
