.businessMainForm {
  &__content {
    overflow-y: scroll;
    height: 452px;
  }

  &__outerRow {
    margin: 0 !important;
  }

  &__controlBtns {
    margin-top: 16px;
    padding: 0 20px;

    &-btn {
      width: 100%;
    }
  }
}
