.businessMainForm {
  padding: 0 16px;

  &__controlBtns {
    margin-top: 56px;

    &-btn {
      width: 100%;

      &:not(.ant-btn-primary) {
        background-color: #F5F5F5 !important;
      }
    }
  }
}
