@import '../../styles/theme.scss';

.workerInfo {
  flex: 1;

  &__header {
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background: indianred; // TODO: change to coupler colors

    &--isAddMode {
      justify-content: space-between;
    }

    &-title {
      color: $white;
      font-family: $sans;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &-searchInput {
      width: 248px;

      & > .ant-input {
        background: rgba(255, 255, 255, 0.08);
        color: $white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.64);
        }
      }

      & .ant-input-search-icon {
        color: $white;

        &:hover {
          font-size: 16px;
        }
      }
    }

    &-searchResultBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 248px;
      height: 48px;
      border-radius: 4px;
      background: rgba(255, 255, 255, 0.08);
      padding: 12px 16px;

      &-text {
        font-family: $sans;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: $white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    &-searchResultButton {
      width: 88px;
      margin: unset;
    }
  }

  &__content {
    padding: 40px 32px 0;

    &-controlBtns {
      margin-top: 16px;

      &-btn {
        width: 100%;
      }
    }
  }
}
