@import '../../styles/theme.scss';

.workerInfo {
  height: 100%;
  display: flex;
  flex-flow: column;

  &__searchBlock {
      display: flex;

      &-text {
        font-family: $Roboto;
        color: $white;
        line-height: 48px;
        padding-right: 25px;
        white-space: nowrap;
      }

      &-searchInput {
        width: 248px;
        margin-right: 25px;
        background: rgba(255, 255, 255, 0.08);
        color: $white;

        &::placeholder {
          color: rgba(255, 255, 255, 0.64);
        }
      }

      &-searchResultBlock {
        width: 248px;
        height: 48px;
        text-transform: unset;
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.08);
      }
    }

  &__content {
    padding: 40px 32px 40px;
    flex: 1 1 auto;

    &-controlBtns {
      margin-top: 16px;

      &-btn {
        width: 100%;
      }
    }
  }
}
