@import '../../styles/theme.scss';

.clientInfo {
  flex: 1;

  &__header {
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background: indianred; // TODO: change to coupler colors

    &-title {
      color: $white;
      font-family: $sans;
      font-size: 18px;
      line-height: 24px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }
  }

  &__infoWrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  &__ordersInfo {
    padding: 0 32px 0;
    flex: 1;

    &-recordsTable {
      border: 1px solid rgba(0, 0, 0, 0.08);
      border-radius: 4px;
      box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);

      &-columnHeaderText {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      & .ant-table {
        &-body {
          min-height: 384px;

          & .status-column > div {
            display: flex;
            flex-direction: unset;
            justify-content: space-between;
            line-height: 16px;
          }
        }

        &-thead {
          & > tr {
            height: 48px;
            font-size: 12px;
            line-height: 24px;

            & > th .ant-table-header-column {
              width: 100%;
            }
          }
        }

        &-tbody {
          & > tr {
            height: 48px;

            &.ant-table-expanded-row > td {
              padding: 0;
            }
          }
        }
      }
    }

    &-controlBtns {
      margin-top: 40px;

      &-btn {
        width: 100%;
      }
    }
  }

  &__clientInfo {
    width: 312px;
    border-left: 1px solid #DEE9F4;
    padding: 16px 0;
    margin-bottom: 32px;

    &-avatar {
      display: block;
      margin: 0 auto 32px;
    }

    &-publicInfo {
      padding: 0 32px;

      &-block {
        border-bottom: 1px solid #DEE9F4;
        margin-bottom: 8px;

        & .title {
          font-family: $sans;
          font-size: 10px;
          line-height: 16px;
          color: $coupler-blue;
          letter-spacing: 0.08em;
          text-transform: uppercase;
        }

        & .data {
          font-family: $sans;
          font-size: 14px;
          line-height: 16px;
          color: $font-title-black;
          letter-spacing: 0.02em;
          padding: 4px 0 11px;
        }

        &:last-child {
          border-bottom: unset;
          margin-bottom: 44px;
        }
      }
    }

    &-privateInfo {
      padding: 0 32px;
      border-top: 1px solid #DEE9F4;
    }
  }
}
