@import '../../styles/theme.scss';

.ordersPage {
  display: flex;
  height: 100%;

  &__wrapper {
    flex: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 72px;
    background: indianred; // TODO: change to coupler colors

    &-title {
      color: $white;
      font-family: $sans;
      font-size: 18px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &-selectorBox {
      display: flex;
      align-items: center;

      & .ant-select-selection {
        background-color: rgba(255, 255, 255, 0.08);
        color: $white;

        &__placeholder {
          color: rgba(255, 255, 255, 0.32);
        }

        & .ant-select-arrow {
          color: $white;
        }
      }

      &-rightArrow {
        color: rgba(255, 255, 255, 0.64);
        font-size: 20px;
        padding: 0 12px;
      }
    }
  }

  &__content {
    padding: 0 72px;

    &-orders {
      &-options {
        border-bottom: 1px solid #DCE2E9;
      }

      &-ordersTable {
        & .status-column > div {
          display: flex;
          flex-direction: unset;
          justify-content: space-between;
          line-height: 16px;
        }

        & .ant-table {
          &-body {
            min-height: 383px;
          }
        }

        &--isEmpty {
          & .ant-table-body {
            min-height: unset;
          }
        }
      }

      &-pagination {

      }
    }
  }
}
