@import '../../styles/theme.scss';

.ordersPage {
  display: flex;
  flex: 1;
  &__wrapper {
    flex: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    height: 72px;
    background: linear-gradient(200deg, #1897FB -8%, $coupler-blue 100%);

    &-title {
      color: $white;
      font-family: $sans;
      font-size: 18px;
      letter-spacing: 0.02em;
      font-feature-settings: 'pnum' on, 'lnum' on;
    }

    &-selectorBox {
      display: flex;
      align-items: center;

      & .ant-select-selection {
        background-color: rgba(255, 255, 255, 0.08);
        color: $white;

        &__placeholder {
          color: rgba(255, 255, 255, 0.32);
        }

        & .ant-select-arrow {
          color: $white;
        }
      }

      &-rightArrow {
        color: rgba(255, 255, 255, 0.64);
        font-size: 20px;
        padding: 0 12px;
      }
    }
  }

  &__content {
    padding: 0 72px;

    &-orders {
      &-options {
        border-bottom: 1px solid #DCE2E9;
      }

      &-ordersTable {
        border: 1px solid rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.08);

        & .ant-table {
          &-body {
            min-height: 383px;
          }

          &-thead {
            & > tr {
              height: 48px;
              font-size: 12px;
              line-height: 24px;

              & > th {
                padding: 0 16px;
              }

              & > th .ant-table-header-column {
                width: 100%;
              }
            }
          }

          &-tbody {
            & > tr {
              height: 48px;

              & > td {
                padding: 0 16px;
              }

              &.ant-table-expanded-row > td {
                padding: 0;
              }
            }
          }
        }

        &--isEmpty {
          & .ant-table-body {
            min-height: unset;
          }
        }
      }

      &-pagination {

      }
    }
  }

  &__expandTable {
    padding: 24px 18px;

    &-infoBox {
      border-bottom: 1px solid #DEE9F4;
      margin-bottom: 9px;

      & .title {
        font-family: $sans;
        font-size: 10px;
        line-height: 12px;
        color: #1078E1;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        font-feature-settings: 'pnum' on, 'lnum' on;
      }

      & .data {
        font-family: $sans;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: $font-title-black;
        letter-spacing: 0.02em;
        font-feature-settings: 'pnum' on, 'lnum' on;
        padding: 6px 0 12px;
      }

      & .listMode {
        padding: 6px 16px 12px;
        margin: 0;

        & > li {
          padding-bottom: 6px;
        }
      }
    }
  }
}
